

<h1> Posty: </h1> 

	<%= link_to "Wroc na glowna", root_url,class: "btn btn-primary"  %>

<% if notice%>
<div class="alert"><%=notice%></div>
<% end %>
<%if current_user %>
<p> Dodaj post: </p>
<%= form_for(@post, remote: true) do |p| %>
<% @post.errors.full_messages.each do |err| %>
<li> <font color="red"><%= err %></font> </li>
<%end%>
<%= p.hidden_field :user_id, value: current_user.id%>
<%= p.label :content %>
<%= p.text_area :content %>
<br>
<%= p.submit "Dodaj", class: "btn btn-primary btn-xs"%>
<% end %>
<%else%>
<div class="alert">Aby dodawać posty, musisz być zalogowany! 
	<%= link_to "Zaloguj", new_user_session_path %>
<%= link_to "Rejestracja",new_user_registration_path %>
</div>  
<%end%>
<div class="container">
		<% @posts.each do |p| %>
		<div class="modal-content">
			
			
				Autor: 
				<font size=2><%= p.user.email %></font>
			    
				<br>Post:  <b><%= p.content %></b>
				<br>
			
				<%= link_to "Wyswietl",post_path(p.id), class: "btn btn-primary btn-xs"%>
				<%= link_to "Edytuj",edit_post_path(p.id), class: "btn btn-primary btn-xs"%>
				<%= link_to "Usun",post_path(p.id), method: :delete, class: "btn btn-primary btn-xs"  %>
		
			
			</div>
			<br>
		<%end%>
</div>

	
<script type="text/javascript">
	$(document).ready(function(){
		$('#new_post').bind('ajax:success', function(xhr, data){
			alert("Post dodany!");
		})
	})
</script>