<h1> Dane postu <%= @post.id %></h1>
<br>
<% if notice%>
<font color="green"><%=notice%></font>
<% end %>

Data:<b> <%= @post.time %>
</b>
<br>

Treść:<b> <%= @post.content %>
</b>
<br>
Autor postu:<b> <%= @post.user.email %></b>
<br>
<%= link_to "Wroc",posts_path, class: "btn btn-primary" %>
<%= link_to "Dodaj komentarz", new_comment_path(id: @post.id),class: "btn btn-primary btn-xs" %>
<br>
<br>
<br>
<b> Komentarze: </b>
<div class="container">
<% @post.comments.each do |c| %>
<div class="modal-content">
Komentarz od: <%= c.user.email %>
<br>
<b>
<%= c.content %>
<br>
</b>
<%= link_to "Wyswietl",comment_path(c.id), class: "btn btn-primary btn-xs"%>
<%= link_to "Usun",comment_path(c.id), method: :delete, class: "btn btn-primary btn-xs"  %>
</div>
<%end%>
</div>
